<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.murraystudios.graham.wmgc">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".ScorecardActivity"
            android:label="@string/title_activity_scorecard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ScrollingActivityScoreCard"
            android:label="@string/title_activity_scrolling_score_card"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StartRound"/>
        <activity android:name=".ThreeHoleScoreSelection">
        </activity>
        <activity android:name=".TeeTimes">
        </activity>
        <activity
            android:name=".TeeTimeFragment"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ClubHouseRatesActivity"
            android:label="@string/title_activity_club_house_rates"
            android:parentActivityName=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.murraystudios.graham.wmgc.NavigationActivity"/>
        </activity>
        <activity
            android:name=".MainLoginActivity"
            android:label="@string/title_activity_main_login">
        </activity>
        <activity android:name=".EventsActivity">
        </activity>
    </application>

</manifest>